/** @author: mukil */

ul.twitter-list {
    padding-left: 0px;
    margin-right: 20px;
}

li.tweet-item {
    border: 1px solid #FFC700;
    color: #3a3a3a;
    margin: 2px;
    padding: 5px;
    padding-top: 3px;
    cursor: pointer;
}

li.tweet-item:hover {
    background-color: #FFC700;
    color: #fff;
}

li.tweet-item small {
    float: right;
}

div.twitter-search-started {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 10px;
}